body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.note {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.add-note {
  background-color: lightblue;

}

.delete-icon {
  color: red;
  cursor: pointer;
}

.delete-icon:hover {
  color: darkred;
}

.edit-icon {
  color: darkblue;
  cursor: pointer;
}

.edit-icon:hover {
  color: darkgreen;
}

textarea,
input {
  border: none;
  resize: none;
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.note-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}

.note-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.action-button {
  background-color: chocolate;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;

}

.action-button:hover {
  background-color: darkorange;
}

.note-date {
  font-size: 0.8rem;
  color: gray;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.search input {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  padding-left: 0.5rem;
  width: 100%;
}

.search input:focus {
  outline: none;
}